:root {
    --burgerItem-color: #fff;
}

.burger {
    display: none;
}

@media(max-width: 992px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 2.5rem;
        height: 1.875rem;
        cursor: pointer;
    }

    .burger__item {
        min-width: 100%;
        height: 4px;
        background-color: var(--burgerItem-color);
        border-radius: .437rem;
    }
}