:root {
    --textColor: #fff;
    --bgColor: #f0f0f000;
    --borderColor: 1px solid #26272d;
    --boxShadowColor: 6px 10px 11px 6px rgb(0 0 0 / 20%);
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card__item {
    display: grid;
    place-items: center;
    background-color: var(--bgColor);
    width: 15.625rem;
    aspect-ratio: 11 /16;
    transition: transform .2s;
    border-radius: .625rem;
    border-left: var(--borderColor);
    border-top: var(--borderColor);
    box-shadow: var(--boxShadowColor);
}

.card__item-text {
    font-size: 1.3rem;
    letter-spacing: .3em;
    color: var(--textColor);
}