@media (max-width: 992px) {
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        padding: 30px;
        left: -100%;
        transition: left .3s;
        z-index: 10;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1.042vw, 1.25rem);
}

.menu-list__link {
    font-size: clamp(1.3rem, 1.302vw, 1.562rem);
    transition: .3s;
}

@media(any-hover: hover) {
    .menu-list__link:hover {
        letter-spacing: 7px;
    }
}

.opened {
    left: 0;
}