:root {
    --borderRadius: 10px;
}

.slider {
    position: relative;
    max-width: 43.75rem;
    aspect-ratio: 16 / 9;
}

.slider__slides-slide {
    display: none;
    max-width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.slider__buttons {
    position: absolute;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: space-between;
    inset: 0;
}

.slider__buttons-button {
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color .3s;
}

@media(any-hover: hover) {
    .slider__buttons-button:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.button-prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: var(--borderRadius);
}

.button-next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: var(--borderRadius);
}

.slider-button__icon {
    width: 40px;
}

.active-slide {
    display: block;
}