:root {
    --deleteButton-bgColor: #a72828;
    --deleteButton-hoverColor: #d43939;
}

.delete-button {
    background-color: var(--deleteButton-bgColor)
}

@media (any-hover: hover) {
    .delete-button:hover {
        background-color: var(--deleteButton-hoverColor);
    }
}