:root {
    --editButton-bgColor: darkslategray;
    --editButton-hoverColor: #538383;
}

.edit-button {
    display: flex;
    background-color: var(--editButton-bgColor);
}

@media (any-hover:hover) {
    .edit-button:hover {
        background-color: var(--editButton-hoverColor);
    }
}

.edit-button__input {
    font-size: 1.2rem;
    width: 0px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .4s;
}

.edit-button__input::placeholder {
    color: rgb(151, 200, 202);
}



.edit-button__input--active {
    width: 150px;
    padding: 0 10px;
}