.task__template-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .625rem;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #26272d;
    padding: 7px 15px 10px 7px;
}


.task__top-text {
    font-size: 1.25rem;
}

.task__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.task-buttons__wrapper {
    display: flex;
    gap: 1.25rem;
}

.task-buttons__wrapper-button {
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 7px;
    transition: .3s;
}

.task-buttons__wrapper-button svg {
    width: 1.25rem;
    height: 1.25rem;
}