:root {
    --todoButton-bgColor: #003566;
    --todoButton-hoverColor: #2053a3;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-bottom: 1.875rem;
}

.todo__input {
    font-size: 1.2rem;
    width: clamp(17rem, 26.041vw, 31.75rem);
    padding: 10px 5px 5px 5px;
    color: #fff;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #26272d;
}

.todo__input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.todo__button {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .3em;
    color: #fff;
    background-color: var(--todoButton-bgColor);
    padding: .6em 1em;
    border-radius: 7px;
    transition: .3s;
}

.todo__button:hover {
    background-color: var(--todoButton-hoverColor);
}