.home {
    display: grid;
    place-items: center;
    min-height: 100%;
    color: #fff;
}

.home__content {
    display: grid;
    row-gap: 20px;
    text-align: center;
}

.home__title {
    font-size: clamp(1.3rem, 2.705vw, 3.125rem);
}

.home__subtitle {
    font-size: clamp(.7rem, .833vw, 1rem);
}