.slider-page__container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

@media(max-width: 992px) {
    .slider-page__container {
        place-items: start center;
        padding-top: clamp(1rem, 2.603vw, 3.125rem);
    }
}