body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

img {
    object-fit: cover;
}

.app {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 100vh;
    min-height: 100vh;
}

@media (max-width: 992px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: auto 100vh;
    }
}

.sideBar,
.content-bar {
    min-height: 100%;
}

.sideBar {
    padding-top: clamp(1rem, 3.125vw, 3.75rem);
    padding-right: 15px;
    padding-bottom: clamp(1rem, 3.125vw, 3.75rem);
    padding-left: clamp(1rem, 3.125vw, 3.75rem);
    color: var(--sideBar-color);
    background-color: var(--sideBar-bgColor);
}

@media (max-width: 992px) {
    .sideBar {
        display: flex;
        justify-content: flex-end;
    }
}

.content-bar {
    padding: 15px;
    background-color: var(--contentBar-bgColor);
    overflow-y: auto;
}

.title {
    font-size: clamp(1rem, 1.666vw, 2rem);
    color: #fff;
    text-align: center;
}