*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    overflow: hidden;
}

button,
a {
    cursor: pointer;
}

button {
    background-color: transparent;

}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}